

.prova{
    background-color: #facd07;
    
    

    border: 2px solid rgb(46, 45, 45);
    border-radius: 10px;
    font-size: 20px;

    padding: 10px;
    margin: 8px;

    display: flex;
    position: absolute;
    top: 50px;
    right: 10px;

    color: rgb(0, 0, 0);
}



.title{
    color: rgb(0, 0, 0);
    font-size: 100px;
    display: flex;
    position: absolute;
    top: 5px;
    align-self: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

.bg{
    background-color: #262c6e;
}

.img{
    display: flex;
    position: absolute;
    top: 2px;
    left: 35px;
}

.img:hover{
    cursor: pointer;
    width: 150px;
    height: 150px;
}

.acc{

    display: flex;
    position: absolute;
    top: 35px;
    right: 120px;
    color: white;
    
}

.address{

    display: flex;
    position: absolute;
    top: 45px;
    right: 170px;

}

.log{
    display: flex;
    position: absolute;
    top: 15px;
    right: 10px;
    
}

.prevImg{
    padding-bottom: 10px;
    
}

.navbar{
    display: flex;
    position: absolute;
    top: 170px;
}



.footer{
    display: flex;
    position: absolute;
    bottom: 10px;
    background-color: #262c6e;
}

.testo{
    color: #262c6e;
}

.wallte{
    height: 55px;
    width: 55px;

    display: flex;
    position: absolute;
    top: 5px;
    right: 91px;
}


.wallte2{

    height: 55px;
    width: 55px;

    display: flex;
    position: absolute;
    top: -1px;
    right: -5px;

}

.tune{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.nft{
    display: flex;
    position: absolute;
    top: 148px;
    height: 600px;
    width: 1000px;
}

.nft :hover{
    height: 700px;
   width: 100px;
}

.advertising{
    background-color: #facd07;
    
    

    border: 2px solid rgb(46, 45, 45);
    border-radius: 10px;
    font-size: 20px;

    padding: 10px;
    margin: 8px;

    width: 500px;
    height: 370px;

    display: flex;
    position: absolute;
    top: 250px;



}

.advertising:hover{
    transition: width 1s, height 2s;
    width: 520px;
    height: 360px;
    background-color: #e2ba05;

}

.newCollections{
    display: flex;
    position: absolute;
    font-size: 20px;
    left: 175px;
    top: 20px;
}

.bored{
    width: 290px;
    height: 290px;
    display: flex;
    position: absolute;
    align-self: center;
    top: 50px;
}


.nft1{
    width: 430px;
    height: 260px;
    display: flex;
    position: absolute;
    left: 180px;
    top: 80px;
}

.nav2{
    display: flex;
    position: absolute;
    top: 100px;
    left: 450px;
}

.footer2{
    display: flex;
    position: absolute;
    bottom: 10px;
    left: 100px;
    background-color: #262c6e;
}