header {
    font-size: 7em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;

    // background-image: url(../public/images/logo.png);
    // background-repeat: no-repeat;
    // background-size: contain;
    // background-position: 2rem center;
    // padding-left: 3rem;
    h1 {
        display: inline-block;
    }

    #logo {
        width: 10rem;
        height: 10rem;
        display: flex;
        position: absolute;
        left: 2rem;

    }
}

@media (max-width: 883px) {
    header {

        #logo {
            display: none;
        }

    }
}


.page {


    #AnnucementText {
        text-align: center;
        color: aliceblue;
        font-size: 1.3em;
        font-family: 'Courier New', Courier, monospace;
    }

    #nftTitle {
        padding-top: 0em;
        padding-bottom: 0.2em;
        text-align: center;
        color: rgb(0, 0, 0);
        font-size: 2em;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;


    }
}

body {
    background-color: #262c6e;

}

nav {

    margin: 0 auto;
    width: 30em;


    color: #FFFFF4;
    text-align: center;
    font-weight: 500;

    ul {

        display: inline-block;
        background-color: rgb(31, 41, 55);
        border: 1px solid rgb(31, 41, 55);
        border-radius: 0.4em;
        padding: 1em 1em;
    }


    #logo {
        width: 2rem;
        height: 2rem;
        display: inline-block;
        padding: 0.1em;
    }

    .home {
        background-color: rgb(22, 29, 40);
    }

    // #wallet {
    //     width: 2rem;
    //     height: 2rem;
    //     display: inline-block;
    //     padding: 0.1em;


    // }


    li {
        display: inline-block;
        padding: 0.3em 0.5em;
        margin: 0 0.4em;
        border-radius: 0.375em;



    }

    ul :hover {
        background-color: #374151;
        cursor: pointer;
    }

    li.logBtn {
        color: rgb(0, 0, 0);
        background-color: #facd07;
        cursor: pointer;
    }

    li.logBtn :hover {
        color: rgb(0, 0, 0);
        background-color: #c7a406;
        cursor: pointer;
    }

    li.slogBtn {
        color: rgb(0, 0, 0);
        background-color: #cd0000;
        cursor: pointer;
    }

    li.slogBtn :hover {
        color: rgb(0, 0, 0);
        background-color: #cd0000;
        cursor: pointer;
    }

    .Dash {
        background-color: rgb(22, 29, 40);
    }


}



div.content {
    margin: 0 auto;
    width: 30em;
    padding-right: 0.001em;
    padding-top: 2em;

    // #adv :hover {
    //     transition: width 1s, height 2s;
    //     width: 520px;
    //     height: 360px;
    // }

    #advPanel {
        cursor: pointer;
        padding: 1.6rem;
        background-color: #facd07;
        border: 1px #facd07 solid;
        border-radius: 1em;
    }

    #advPanel:hover {
        background-color: #bd9b04;
        border: 1px #bd9b04 solid;
    }

    #adv {
        background-image: url(../public/images/boredApeNftFinal.png);
        background-size: 50%;
        background-position: center left;
        background-repeat: no-repeat;





        #card {
            width: 50%;
            margin-left: 50%;

            img {
                width: 100%;
            }
        }



    }







    .mintImg {
        margin-top: 0.1em;
        padding-left: 1.22em;
        padding-right: 1em;
    }

    .mintBtn {
        margin-left: 4em;
        margin-top: 2em;
        padding: 1em;
        width: 20em;
        height: 4em;
    }

    .loading {
        height: 100%;
        width: 100%;
    }




}

footer {
    display: flex;
    justify-content: space-around;
    padding-top: 2rem;
    flex-wrap: wrap;


    .footerSection {
        padding: 0 2rem 2rem 2rem;

        li {
            padding: 0.3rem 0;
        }

        h2 {
            font-size: 1.2rem;
            font-weight: bold;
            padding-bottom: 0.3rem;
        }
    }

    #footerTitle h2 {
        font-size: 2rem;
        font-weight: bold;
        background-image: url(../public/images/logo.png);
        background-position: center left;
        background-repeat: no-repeat;
        background-size: contain;
        padding-left: 3.5rem;
    }

    #footerCopy {
        align-self: center;

        ul {
            padding-left: 1rem;
            display: inline-block;
        }

        li {
            display: inline-block;
        }

        li svg {
            display: inline;
            padding-right: 0.5rem;
            height: 1.5rem;
        }
    }

}